#------------------------------------
# Composer
#------------------------------------
/vendor/

#------------------------------------
# Environment
#------------------------------------
.env

#------------------------------------
# Writable folder
#------------------------------------
/writable/cache/*
!/writable/cache/index.html
!/writable/cache/.htaccess

/writable/logs/*
!/writable/logs/index.html

/writable/session/*
!/writable/session/index.html

/writable/uploads/*
!/writable/uploads/index.html

/writable/debugbar/*

#------------------------------------
# PHPUnit
#------------------------------------
phpunit.xml

#------------------------------------
# IDE
#------------------------------------
.vscode/
.idea/
*.swp
*.swo

#------------------------------------
# Operating System
#------------------------------------
.DS_Store
Thumbs.db